.expand-option{
    border-radius:50%;
    font-size:large;
}

#characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width:100%;
    max-height: 60%;
    overflow-y: scroll;

    background-color: DodgerBlue;
}
.character-plate {
    background-color: #f1f1f1;
    width: 20%;
    
    max-height: 350px;
    overflow-y: scroll;

    text-align: center;
}
.option{
    display: inline-block;
    text-align: center;
   
    margin:20% 0 0 0;
    padding:5px 10px;
}
#options{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 20%;
}
#options div{
    text-align: center;
    background: #EEE;
    border: 1px solid gray;
    font-size: xx-large;
    width:10%;
    height:auto;
}