.hidden {
	display: none;
	overflow: hidden;
	max-height: 10px;
	height:1px;
}
.scrollable{
	display: block;
	max-height:120px;
	overflow-y:scroll;
}
.hp{
	width:19%;
}
.avatar{
	width:200px;
	height:150px;
}