#options{
    display:flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
}

#options div{
    border:gray solid 2px;
    text-align: center;
    width:40%;
    margin: 0 30% 0 30%;
    background-color: #D9DBDB;
}

#entity-form div{
    border:none;
    text-align: left;
    width:auto;
    margin-top: 10px;
}

#entity-form input[type=number]{
    width:50px;
}

#create-finish{
    display: flex;
    flex-flow: row;
}