.grid-header-item{
	width:auto;
	height:auto;
	grid-row: 2;
	text-align: center;
}
.grid-odd-row{
	background-color: #D9DBDB;
}
.grid-body-item{
	height: auto;
	text-align: center;
	border:solid black 1px;
}
.grid-title{
	background-color: #D9DBDB;
	text-align: center;
	grid-column: 1/span 4;
	margin:0;
}
.grid-container{
	display: grid;
	grid-auto-rows: 1fr;
}
.outer-grid{
	width:auto;
	display: grid;
	grid-template-rows: auto auto 10%;
}
.inner-grid{
	width:auto;
	display: grid;
	grid-auto-rows: 1fr;
}
.grid-side-body-item{
	text-align: center;
	border:solid black 1px;
	border-left:none;
}
.grid-side-header-item{
	text-align: center;
	border:solid black 1px;
	border-right: solid black 1px;
}