div{
	overflow: hidden;
	text-align: center;
}
.center{
	margin-left:20%;
	margin-right:20%;
	width: 60%;
	height: 25%;
}
.left{
	border:solid black 3px;
	float:left;
}
.right{
	border:solid black 3px;
	float:right;
}

.option-container{
	margin-left: 40%;
	width:25%;
}
.option{
	border:solid 2px black;
}
.option a{
	color:black;
}

#all-options div{
	margin-left: 2%;
	margin-right: 2%;

	width:5%;
	height:80px;
	align-content: center;
	text-align: center;
	border:solid black 2px;
}
#all-options{
	margin-top: 5%;

	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	flex-flow: row;
}