#main-content{
    display:flex;
    flex-flow: row;
    justify-content: center;

    margin:0 5% 0 5%;
}

#main-content div{
    width:30%;
    height:30%;

    border:gray solid 1px;

    text-align: center;

    margin-left:5%;
    margin-right: 5%;
    background-color: #D9DBDB;
}

#main-content div{
    font-size: xx-large;
}