body{
    background-color:lightskyblue;
}
#main-content{
    width:40%;
    height:100%;

    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color:#a19191;
}
#input-form{
    border:solid black 2px;
}

#input-form div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#input-form div label,input{
    margin-left: 20px;
}
#post-script{
    margin-top: 10px;
    margin-bottom: 10px;
}