#abilities{
    width:45%;
	grid-template-columns: auto auto auto auto;
    grid-template-rows:auto auto auto auto auto auto;
}

#abilities .grid-header-item{
    grid-row: 1;
}

#abilities .grid-body-item{
    height:55px;
}