.grid-container#armor-container{
	width:75%;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-auto-rows: 1fr;
}
#armor-container .grid-title{
	background-color: #D9DBDB;
	text-align: center;
	grid-column: 1/span 8;
	margin:0;
}
#armor-container .grid-title h2{
	margin:0;
}