#basicinfo .grid-container{
    width:100%;
	grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows:auto auto;
    grid-auto-rows: 1fr;
}

#basicinfo label{
    background-color: #D9DBDB;
}
#basicinfo .grid-header-item{
    grid-row: 1;
}
#basicinfo .grid-body-item{
    height:50%;
    grid-row: 2;
}
#avatar{
    height:100px;
}