.grid-container#core-stats-container{
    width:35%;
    max-height:320px;
    text-align: center;
	display: grid;
    grid-template-columns: auto auto;
	grid-auto-rows: 1fr;
}

.grid-side-header-item{
    text-align: center;
}
.grid-side-header-item{
    text-align: center;
    border-right:solid black 1px;
}