#features{
    width:40%;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
}

#features .grid-title{
    grid-column: 1/span 2;
}

#features-container{
    grid-column: 1/span 2;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
    max-height: 250px;
    overflow-y: scroll;
}