#equipment.outer-grid{
	width:60%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: 1fr;
}

#equipment .inner-grid{
	width:auto;
	display: grid;
	grid-column: 1/ span 3;
	grid-template-columns: auto auto auto;
	grid-auto-rows: 1fr;
}