.grid-container#language-container{
	width:45%;
	max-height:225px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: 1fr;
}
#language-container .grid-title{
	background-color: #D9DBDB;
	text-align: center;
	grid-column: 1/span 4;
	margin:0;
}
#language-container .grid-title h2{
	margin:0;
}