#magic-slots.grid-container{
	width:75%;
	grid-template-columns: auto auto auto auto auto;
	grid-auto-rows: 1fr;
}
#magic-slots .grid-title{
	grid-column: 1/ span 5;
}

#known-spells{
	width:60%;
	margin-top:5%;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-auto-rows: 1fr;
}
#known-spells .inner-grid{
	grid-column: 1/ span 7;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-auto-rows: 1fr;
	overflow-y: scroll;
	max-height:250px;
}
#known-spells .grid-header-item{
	text-align: left;
}
#known-spells .grid-title{
	grid-column: 1/ span 7;
}

#magic-table{
	width:40%;
	margin-bottom: 2%;
	grid-template-columns: auto auto auto;
}
#magic-table .grid-title{
	grid-column:1/ span 3;
}