.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 15%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;

	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}
.sidenav a:hover {
	color: #f1f1f1;
}
.sidenav div{
	color:white;
}
.row {
	margin-left: 15%;
}