.outer-grid#skills{
	width:30%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto 10%;
}
#skills .grid-title{
	grid-column: 1/ span 4;
}
.inner-grid#skills-container{
	width:auto;
	display: grid;
	grid-column: 1/ span 4;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: 1fr;
}