@media print {
}

* {
	box-sizing: border-box;
}
.row {
	overflow: hidden;
	width: 1200px;
}
body {
	width: 100%;
}
section {
	margin: 15px;
}
#character-table{
	border: 1px solid;
	padding: 3px;
}

div>#core-stats-container{
	float:left;
}

#story {
	padding-left: 2%;
	width: 20%;
	float: left;
}
#skills {
	float: left;
	width: auto;
}
#notes{
	width:75%;
	height: 150px;
}