.outer-grid{
	width:60%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto 10%;
}
.outer-grid .grid-title{
	grid-column: 1/ span 3;
}
#weapons .inner-grid{
	width:auto;
	display: grid;
	grid-column: 1/ span 3;
	grid-template-columns: auto auto auto;
	grid-auto-rows: 1fr;
}